spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  redis:
    host: 49.234.226.241
    port: 6379
    jedis:
      pool:
        max-active: 8
        max-idle: 8
        max-wait: 300ms
        min-idle: 0